@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'OutFit', sans-serif;
}

body{
  background: black;
}

h1,h4,p,a{
  color:  white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: yellow;
  color: black;
  border: 1px solid whitesmoke;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color:whitesmoke;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.442);
  color: #fff;
  transition: 0.3s;
}